body {
  margin: 0;
  display: block;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.App {
  text-align: center;
  padding: 40px;
  font-family: Arial, sans-serif;
}

input {
  padding: 10px;
  font-size: 16px;
  width: 250px;
  margin-right: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

button {
  padding: 10px 20px;
  background-color: #0077cc;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-left: 10px;
}

.weather {    
  margin-top: 20px;
  background: #292929;
  padding: 20px;
  border-radius: 10px;
  display: block;
  border: solid 2px #0077cc;}

.error {
  color: red;
  margin-top: 15px;
}